@*@model PagedList.IPagedList<Models.FE.User>*@
@using PagedList.Mvc
@{
    ViewBag.Title = "Admin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section cssAdminHeader{
    <!-- Custom styles for this page -->
    <link href="~/Assets/Admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}
@section jsFooter{
    <script src="~/Assets/Admin/js/controller/userController.js">
    </script>

    <!-- Page level plugins -->
    <script src="~/Assets/Admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/Admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="~/Assets/Admin/js/demo/datatables-demo.js"></script>

}

@section header{
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách Admin</h6>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Index", "User", FormMethod.Get))
        {
            <div class="form-group row">
                @*<div class="col-sm-6 mb-3 mb-sm-0">*@
                @*<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" name="searchString" value="@ViewBag.searchString" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>

                            </div>

                        </div>
                    </form>*@
                @*</div>*@
                <a class="btn btn-primary mb-3 ml-2 mb-sm-0" href="/Admin/User/Create">
                    <i class="fa fa-plus"></i>
                    Thêm mới Admin
                </a>
            </div>
        }
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tài khoản</th>
                        <th>Tên</th>
                        <th>Email</th>
                        <th>SĐT</th>
                        <th>Địa chỉ</th>
                        <th>Trạng thái</th>
                        <th>Sửa</th>
                        <th>Xóa</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.ID">
                            <td>@item.UserName</td>
                            <td>@item.Name</td>
                            <td>@item.Email</td>
                            <td>@item.Phone</td>
                            <td>@item.Address</td>
                            <td class="text-center"><a href="#" class="btn-active" data-id="@item.ID">@(item.Status ? "Hoạt động" : "Khóa")</a></td>
                            <td class="text-center"><a href="/Admin/User/Edit/@item.ID"><i class="fa fa-edit"></i></a></td>
                            <td>
                                @Ajax.ActionLink("Xóa", "Delete", new {@id = item.ID} ,new AjaxOptions
                                {
                                    Confirm="Bạn có muốn xóa không?",
                                    OnComplete="$('row_"+item.ID+"').remove()",
                                    HttpMethod="Delete"
                                })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @*@Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.searchString }))*@
        </div>
    </div>
</div>
