
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listProductPromotion = (List<Models.FE.Product>)ViewBag.listProductPromotion;
    var listProductNew = (List<Models.FE.Product>)ViewBag.listProductNew;
}

@model List<Models.FE.Menu>

<style>
    .btnRegister:hover {
        background-color: #888888;
    }

    .btnRegister {
        margin-right: 20px;
    }

</style>

<div class="header-outs" id="home">
    @*@{Html.RenderAction("Header", "Home");}*@

    <div class="header-bar">
        <div class="info-top-grid" style="padding: 7px">
            <div class="info-contact-agile">
                <ul>
                    <li>
                        <span class="fas fa-phone-volume"></span>
                        <p>+(000)123 4565 32</p>
                    </li>
                    <li>
                        <span class="fas fa-envelope"></span>
                        <p><a href="mailto:info@gmail.com">info@gmail.com</a></p>
                    </li>
                    <li>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-fluid">
            <div class="hedder-up row">
                <div class="col-lg-3 col-md-3 logo-head">
                    <h1><a class="navbar-brand" href="/">Toys-Shop</a></h1>
                </div>
                <div class="col-lg-5 col-md-6 search-right">
                    <form class="form-inline my-lg-0" action="/tim-kiem" method="get">
                        <input class="form-control mr-sm-2" type="search" name="keyword" id="txtKeyword" placeholder="Search">
                        <button class="btn" type="submit">Search</button>
                    </form>
                </div>
                <div class="col-lg-4 col-md-3 right-side-cart">
                    <div class="cart-icons">
                        <ul>
                            @{
                                var session = (UserLogin)Session[OnlineShop.Common.CommonConstants.USER_SESSION];
                            }

                            @if (session == null)
                            {
                                <li style="padding: 4px; padding-top: 5px; border: 1px solid white" class="btnRegister">
                                    <a href="/dang-ki" style="color: white; font-weight: bold">Đăng kí</a>
                                </li>
                                <li style="padding: 4px; padding-top: 5px; border: 1px solid white" class="btnRegister">
                                    <a href="/dang-nhap" style="color: white; font-weight: bold">Đăng nhập</a>
                                </li>
                            }
                            else
                            {
                                <li style="padding: 4px; padding-top: 5px; border: 1px solid white" class="btnRegister">
                                    <a href="javascript:void(0)" style="color: white; font-weight: bold">Chào @session.UserName</a>
                                </li>

                                <li style="padding: 4px; padding-top: 5px; border: 1px solid white" class="btnRegister">
                                    <a href="javascript:void(0)" class="linkLougout" style="color: white; font-weight: bold"><i class="fa fa-sign-out-alt"></i>@Html.ActionLink("Thoát", "Logout", "User")</a>
                                </li>
                                @*<li>
                                        <button type="button"> <span class="far glyphicon-log-out"></span></button>@Html.ActionLink("Đăng xuất", "Logout", "User")
                                    </li>*@
                            }

                            <li style="padding: 4px; padding-top: 5px; border: 1px solid white; width:35px; padding-left:7px" class="btnRegister">
                                <a style="color: white; font-weight: bold" href="/gio-hang">
                                    <i class="fas fa-cart-arrow-down"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav ">
                    @foreach (var item in Model)
                    {
                        if (item.TypeID == 0)
                        {
                            var child = Model.Where(x => x.TypeID == item.ID);
                            var count = child.Count();
                            if (count > 0)
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="@item.Link" target="@item.Target" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @item.Text
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        @foreach (var subItem in child)
                                        {
                                            <a class="nav-link" href="/loai-san-pham/@subItem.ID">@subItem.Text</a>
                                        }
                                    </div>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item active">
                                    <a class="nav-link" href="@item.Link" target="@item.Target">@item.Text <span class="sr-only"></span></a>
                                </li>
                            }
                        }
                    }

                </ul>
            </div>
        </nav>
    </div>
    <!-- Slideshow 4 -->
    @RenderPage("~/Views/Shared/Slide.cshtml")
</div>

<section class="about py-lg-4 py-md-3 py-sm-3 py-3" id="about">
    <div class="container py-lg-5 py-md-5 py-sm-4 py-4">
        <h3 class="title text-center mb-lg-5 mb-md-4  mb-sm-4 mb-3">Sản phẩm tốt nhất</h3>
        <div class="row banner-below-w3l">
            @foreach (var item in listProductPromotion)
            {
                <div class="col-lg-4 col-md-6 col-sm-6 text-center banner-agile-flowers">
                    <img src="@item.Image" class="img-thumbnail" alt="">
                    <div class="banner-right-icon">
                        <h4 class="pt-3">@item.Name</h4>
                    </div>
                </div>
            }

            <div class="toys-grids-upper" style="margin-top:100px">
                <div class="about-toys-off">
                    <h2>Giảm giá lên đến <span>70% </span>cho các sản phẩm</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //about -->
<!--new Arrivals -->
<section class="blog py-lg-4 py-md-3 py-sm-3 py-3" style="background: powderblue">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <h3 class="title clr text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Sản phẩm mới</h3>
        <div class="slid-img">
            <ul id="flexiselDemo1">
                @foreach (var item in listProductNew)
                {
                    <li>
                        <div class="agileinfo_port_grid">
                            <img src="@item.Image" alt=" " class="img-fluid" />
                            <div class="banner-right-icon">
                                <h4 class="pt-3">@item.Name</h4>
                            </div>
                            <div class="outs_more-buttn">
                                <a href="/chi-tiet-san-pham/@item.ID">Chi tiết</a>
                            </div>
                        </div>
                    </li>
                }

            </ul>
        </div>
    </div>
</section>
<!--//about -->
<!--Product-about-->
<section class="about py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
        <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Thông tin giới thiệu</h3>
        <div class="about-products-w3layouts">
            <p style="text-align: center">
                Trang web ra đời với mục tiêu thay đổi thói quen mua Gấu Bông của phần lớn khách hàng trên toàn quốc. 
                Cố gắng tạo được niềm tin vững chắc trong lòng mọi Khách Hàng.
            </p>
            <p style="text-align: center; font-size: 1.2em; padding-top: 10px; font-style: italic; font-weight: bold;">
                Hỗ trợ nhiều chương trình hấp dấn cho khách hàng!
            </p>
        </div>
    </div>
</section>