@model List<Models.FE.Menu>

<style>
    .btnRegister:hover {
        background-color: #888888;
    }
    .btnRegister{
        margin-right:20px;
    }
</style>

<div class="header-bar">
    <div class="info-top-grid" style="padding: 7px">
        <div class="info-contact-agile">
            <ul>
                <li>
                    <span class="fas fa-phone-volume"></span>
                    <p>+(000)123 4565 32</p>
                </li>
                <li>
                    <span class="fas fa-envelope"></span>
                    <p><a href="mailto:info@gmail.com">info@gmail.com</a></p>
                </li>
                <li>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="hedder-up row">
            <div class="col-lg-3 col-md-3 logo-head">
                <h1><a class="navbar-brand" href="/">Toys-Shop</a></h1>
            </div>
            <div class="col-lg-5 col-md-6 search-right">
                <form class="form-inline my-lg-0" action="/tim-kiem" method="get">
                    <input class="form-control mr-sm-2" type="search" name="keyword" id="txtKeyword" placeholder="Search">
                    <button class="btn" type="submit">Search</button>
                </form>
            </div>
            <div class="col-lg-4 col-md-3 right-side-cart">
                <div class="cart-icons">
                    <ul>
                        @{
                            var session = (UserLogin)Session[OnlineShop.Common.CommonConstants.USER_SESSION];
                        }

                        @if (session == null)
                        {
                            <li style="padding: 4px; padding-top: 5px; border: 1px solid white" class="btnRegister">
                                <a href="/dang-ki" style="color: white; font-weight: bold">Đăng kí</a>
                            </li>
                            <li style="padding: 4px; padding-top: 5px; border: 1px solid white"  class="btnRegister">
                                <a href="/dang-nhap" style="color: white; font-weight: bold">Đăng nhập</a>
                            </li>
                        }
                        else
                        {

                            <li>
                                <button type="button"> <span class="far fa-registered"></span></button>Chào @session.UserName
                            </li>
                            <li>
                                <button type="button"> <span class="far fa-user"></span></button>@Html.ActionLink("Đăng xuất", "Logout", "User")
                            </li>
                        }

                        <li style="padding: 4px; padding-top: 5px; border: 1px solid white; width:35px; padding-left:7px" class="btnRegister">
                            <a style="color: white; font-weight: bold" href="/gio-hang">
                                <i class="fas fa-cart-arrow-down"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav ">
                @foreach (var item in Model)
                {
                    if (item.TypeID == 0)
                    {
                        var child = Model.Where(x => x.TypeID == item.ID);
                        var count = child.Count();
                        if (count > 0)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="@item.Link" target="@item.Target" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @item.Text
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    @foreach (var subItem in child)
                                    {
                                        <a class="nav-link" href="/loai-san-pham/@subItem.ID">@subItem.Text</a>
                                    }
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item active">
                                <a class="nav-link" href="@item.Link" target="@item.Target">@item.Text <span class="sr-only"></span></a>
                            </li>
                        }
                    }
                }

            </ul>
        </div>
    </nav>
</div>

