@model Models.FE.Product
@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listMenu = (List<Models.FE.Menu>)ViewBag.listMenu;
}

@section cssHeader{
    <link rel="stylesheet" type="text/css" href="~/Assets/Client/css/jquery-ui1.css">
    <link href="~/Assets/Client/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="~/Assets/Client/css/flexslider.css" type="text/css" media="screen" />
}

@section jsFooter{
    <script src="~/Assets/Client/js/jquery-ui.js"></script>
    <script>
        //<![CDATA[
        $(window).load(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 9000,
                values: [50, 6000],
                slide: function (event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                }
            });
            $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

        }); //]]>
    </script>
    <!-- //price range (top products) -->
    <!-- single -->
    <script src="~/Assets/Client/js/imagezoom.js"></script>
    <!-- single -->
    <!-- script for responsive tabs -->
    <script src="~/Assets/Client/js/easy-responsive-tabs.js"></script>
    <script>
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true, // 100% fit in a container
                closed: 'accordion', // Start closed if in accordion view
                activate: function (event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });
            $('#verticalTab').easyResponsiveTabs({
                type: 'vertical',
                width: 'auto',
                fit: true
            });
        });
    </script>
    <!-- FlexSlider -->
    <script src="~/Assets/Client/js/jquery.flexslider.js"></script>
    <script>
        // Can also be used with $(document).ready()
        $(window).load(function () {
            $('.flexslider1').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
        });
    </script>
    <!-- //FlexSlider-->
}

<style>
    .btnRegister:hover {
        background-color: #888888;
    }

    .btnRegister {
        margin-right: 20px;
    }
</style>

<div class="header-outs" id="home">
    @*@{Html.RenderAction("Header", "Home");}*@
    <div class="header-bar">
        <div class="info-top-grid" style="padding: 7px">
            <div class="info-contact-agile">
                <ul>
                    <li>
                        <span class="fas fa-phone-volume"></span>
                        <p>+(000)123 4565 32</p>
                    </li>
                    <li>
                        <span class="fas fa-envelope"></span>
                        <p><a href="mailto:info@gmail.com">info@gmail.com</a></p>
                    </li>
                    <li>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-fluid">
            <div class="hedder-up row">
                <div class="col-lg-3 col-md-3 logo-head">
                    <h1><a class="navbar-brand" href="/">Toys-Shop</a></h1>
                </div>
                <div class="col-lg-5 col-md-6 search-right">
                    <form class="form-inline my-lg-0" action="/tim-kiem" method="get">
                        <input class="form-control mr-sm-2" type="search" name="keyword" id="txtKeyword" placeholder="Search">
                        <button class="btn" type="submit">Search</button>
                    </form>
                </div>
                <div class="col-lg-4 col-md-3 right-side-cart">
                    <div class="cart-icons">
                        <ul>
                            @{
                                var session = (UserLogin)Session[OnlineShop.Common.CommonConstants.USER_SESSION];
                            }

                            @if (session == null)
                            {
                                <li style="padding: 4px; padding-top: 5px; border: 1px solid white" class="btnRegister">
                                    <a href="/dang-ki" style="color: white; font-weight: bold">Đăng kí</a>
                                </li>
                                <li style="padding: 4px; padding-top: 5px; border: 1px solid white" class="btnRegister">
                                    <a href="/dang-nhap" style="color: white; font-weight: bold">Đăng nhập</a>
                                </li>
                            }
                            else
                            {
                                <li style="padding: 4px; padding-top: 5px; border: 1px solid white" class="btnRegister">
                                    <a href="javascript:void(0)" style="color: white; font-weight: bold">Chào @session.UserName</a>
                                </li>

                                <li style="padding: 4px; padding-top: 5px; border: 1px solid white" class="btnRegister">
                                    <a href="javascript:void(0)" class="linkLougout" style="color: white; font-weight: bold"><i class="fa fa-sign-out-alt"></i>@Html.ActionLink("Thoát", "Logout", "User")</a>
                                </li>
                                @*<li>
                                        <button type="button"> <span class="far glyphicon-log-out"></span></button>@Html.ActionLink("Đăng xuất", "Logout", "User")
                                    </li>*@
                            }

                            <li style="padding: 4px; padding-top: 5px; border: 1px solid white; width:35px; padding-left:7px" class="btnRegister">
                                <a style="color: white; font-weight: bold" href="/gio-hang">
                                    <i class="fas fa-cart-arrow-down"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav ">
                    @foreach (var item in listMenu)
                    {
                        if (item.TypeID == 0)
                        {
                            var child = listMenu.Where(x => x.TypeID == item.ID);
                            var count = child.Count();
                            if (count > 0)
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="@item.Link" target="@item.Target" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @item.Text
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        @foreach (var subItem in child)
                                        {
                                            <a class="nav-link" href="/loai-san-pham/@subItem.ID">@subItem.Text</a>
                                        }
                                    </div>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item active">
                                    <a class="nav-link" href="@item.Link" target="@item.Target">@item.Text <span class="sr-only"></span></a>
                                </li>
                            }
                        }
                    }

                </ul>
            </div>
        </nav>
    </div>
</div>

<!-- banner -->
<div class="inner_page-banner one-img">
</div>
<!--//banner -->
<!-- short -->
<div class="using-border py-3">
    <div class="inner_breadcrumb  ml-4">
        <ul class="short_ls">
            <li>
                <a href="/">Home</a>
                <span>/ /</span>
            </li>
            <li>Chi tiết sản phẩm</li>
        </ul>
    </div>
</div>
<section class="banner-bottom py-lg-5 py-3">
    <div class="container">
        <div class="inner-sec-shop pt-lg-4 pt-3">
            <div class="row">
                <div class="col-lg-4 single-right-left ">
                    <div class="grid images_3_of_2">
                        <div class="flexslider1">
                            <ul class="slides">
                                <li data-thumb="@Model.Image">
                                    <div class="thumb-image"> <img src="@Model.Image" data-imagezoom="true" class="img-fluid" alt=" "> </div>
                                </li>
                                <li data-thumb="@Model.Image">
                                    <div class="thumb-image"> <img src="@Model.Image" data-imagezoom="true" class="img-fluid" alt=" "> </div>
                                </li>
                                <li data-thumb="@Model.Image">
                                    <div class="thumb-image"> <img src="@Model.Image" data-imagezoom="true" class="img-fluid" alt=" "> </div>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 single-right-left simpleCart_shelfItem">
                    <h3>@Model.Name</h3>
                    <p>
                        @if (Model.PromotionPrice > 0)
                        {
                            <span class="item_price">$@Model.PromotionPrice</span>
                            <del>@Model.Price</del>
                        }
                        else
                        {
                            <span class="item_price">$@Model.Price</span>
                        }
                    </p>

                    @*<div class="description">
                            <h5>Check delivery, payment options and charges at your location</h5>
                            <form action="#" method="post">
                                <input class="form-control" type="text" name="Email" placeholder="Please enter..." required="">
                                <input type="submit" value="Check">
                            </form>
                        </div>*@
                    <div class="color-quality">
                        <div class="color-quality-right">
                            <h5>Size :</h5>
                            <select id="country1" onchange="change_country(this.value)" class="frm-field required sect">
                                <option value="null">Nhỏ</option>
                                <option value="null">Vừa</option>
                                <option value="null">Lớn</option>
                            </select>
                        </div>
                    </div>
                    <div class="occasional">
                        <h5>Loại :</h5>
                        <div class="colr ert">
                            <label class="radio"><input type="radio" name="radio" checked=""><i></i> @Model.Name (Black)</label>
                        </div>
                        <div class="colr">
                            <label class="radio"><input type="radio" name="radio"><i></i>@Model.Name (Brown)</label>
                        </div>
                        <div class="colr">
                            <label class="radio"><input type="radio" name="radio"><i></i>@Model.Name (Pink)</label>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <a href="/them-vao-gio-hang?id=@Model.ID&quantity=1">
                        <button class="toys-cart ptoys-cart">
                            Thêm vào giỏ
                        </button>
                    </a>

                </div>
                <div class="clearfix"> </div>
                <!--/tabs-->
                <div class="responsive_tabs">
                    <div id="horizontalTab">
                        <ul class="resp-tabs-list">
                            <li>Mô tả sản phẩm</li>
                        </ul>
                        <div class="resp-tabs-container">
                            <!--/tab_one-->
                            <div class="tab1">
                                <div class="single_page">
                                    <h6>Tóm tắt thông tin</h6>
                                    <p>
                                        @Model.Description
                                    </p>
                                </div>
                            </div>
                            <!--//tab_one-->
                        </div>
                    </div>
                </div>
                <!--//tabs-->
            </div>
        </div>
    </div>
</section>
